

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5%;
    background-image: linear-gradient(180deg, #def9ff 0, #b5dbf8 50%, #8cbee3 100%);
    background-size: cover;
}

.container{
  width: 50%;
  position: relative;
}

.mySlides img{
  width: 100%;
  text-align: center;
}
.prev,
.next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6 ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border:  solid #fff 2px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover{
  background-color: rgba(0, 0, 0, 0.8);
}
.elements{
  text-align: center;
}
.quadrate{
  cursor: pointer;
  height: 4px;
  width: 50px;
  margin: 0 2px;
  background-color: #717171;
  display: inline-block;
  transition: background-color 0.6s ease;
  border-radius: 2px;
}
.active, .quadrate:hover{
  background-color: #fff;
}

*{
  box-sizing: border-box;
}

.lista_A {
    text-align: center;
    
}

.box {
    width: 100%;
    padding: 15px;
}

.VHISS {
    background: #fff;
    width: 80%;
    margin-top: 150px;
    padding: 15px;       
}

.result {
    background: #fff;
    width: 80%;
    margin-top: 150px;
    padding: 15px;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 40px;
    color: #076cf9;
  }

h4{
  text-align: center;
  font-size: 25px;
  color: #076cf9;
}

.datos {
    font-size: 18px;
    width: 100%;
    padding: 5px;
    border: none;
    text-align: center;
}

.input-box {
    margin-bottom: 2px;
    border: 3px solid #b4dfe1;
    width: 100%;  
}

.boton {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #076cf9;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover {
    background: #b4dfe1;
}

p {
  text-align: center;
  color: #2202fe;
  font-size: 23px;
}

@media(min-width: 600px){
      .VHISS {
        margin:auto;
        width: 1080px;
        margin-top: 30px;
        border-radius: 2%;
      }
      .result {
        margin:auto;
        width: 1000px;
        margin-top: 15px;
        border-radius: 2%;
        justify-content: center;
        align-items: center; 
      }
      .input-box {
        margin:auto;
        width: 1000px;
        margin-top: 15px;
        border-radius: 2%;
        justify-content: center;
        align-items: center; 
      }
      .container {
        margin:auto;
        width: 900px;
        height: 600px;
        margin-top: 15px;
        border-radius: 2%;
        justify-content: center;
        align-items: center; 
      }
      
}

.enlace {  
    text-decoration: none;
    color:#03157c;
    font-weight: 600;
  }
  
  .enlace:hover {
    background: #b4dfe1;
  }

  #acrofobia_1{
    border: 3px solid;
    border-radius: 2%;
    border-color: #b4dfe1;
    text-align: center;
    width: 100%;
    line-height: 100%;
    padding: 15px;
    font-size: 20px;
    color: #d34444;
  }
  



